body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.app {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1600px;
}

.left-section {
  flex: 1;
  max-width: 30%;
  margin-right: 20px;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #c0c1c5;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  max-width: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  flex: 1;
  margin-left: 31px;
  margin-top: 7%;
}

.search-icon {
  color: black;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  flex: 1;
  font-size: 16px;
}

.search-input::placeholder {
  color: black;
  opacity: 0.7;
}

.weather-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  height: 178px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 5px;
}

.weekly-forecast-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 25px;
  padding: 10px;
  height: 175px;
}

.weather-card-small {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 10%;
  text-align: center;
  flex: 0 0 auto;
}

.weather-card-small img {
  max-width: 100%;
  border-radius: 50%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.top-cards,
.bottom-cards {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;

  align-content: space-around;
}

.top-cards > div,
.bottom-cards > div {
  margin: 0;
}

.top-cards > div,
.bottom-cards > div {
  flex: 1 1 150px;
  margin: 5px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .left-section {
    margin-bottom: 20px;
  }

  .weekly-forecast-horizontal {
    justify-content: center;
  }

  .weather-card {
    width: 100px;
    margin: 5px;
  }

  .top-cards,
  .bottom-cards {
    flex-direction: column;
  }

  .top-cards > div,
  .bottom-cards > div {
    margin-bottom: 5px;
    flex: 1 1 auto;
  }
}

@media (min-width: 768px) {
  .weather-card {
    width: 183px;
  }
}

.left-side-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
  text-align: center;
  margin-right: 29px;
}

.weather-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.left-side-weather p {
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
}

.left-side-weather img {
  width: 200px;
  height: 200px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .left-side-weather {
    padding: 10px;
    position: relative;
    left: 100%;
  }

  .left-side-weather p {
    font-size: 20px;
    position: relative;
    left: 2px;
    top: 61px;
  }

  .left-side-weather img {
    width: 40px;
    height: 40px;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.tab {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  font-weight: bold;
}

.temperature-indicators {
  display: flex;
  align-items: center;
}

.temp-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.celsius {
  background-color: black;
  color: white;
}

.fahrenheit {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tab {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.tab.active {
  color: #333;
  font-weight: bold;
}

.tab:not(.active) {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.temperature-indicators {
  display: flex;
  align-items: center;
  gap: 10px;
}

.temp-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.temp-circle.black {
  background-color: black;
  color: white;
}

.temp-circle.white {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-right: 20px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: auto;
  width: 55px;
  height: 55px;
  border: 1px solid black;
  border-radius: 20%;
  object-fit: cover;
}

.weather-card-uv {
  position: relative;
}

.weather-card-uv .recharts-wrapper {
  position: absolute !important;
  cursor: default;
  width: 270px !important;
  height: auto !important;
  top: 56px;
  left: -3%;
  transform: scaleY(-1);
}

.sunsetarrowup {
  display: flex;
  align-items: center;
  gap: 15px;
  align-content: center;
  justify-content: center;
}

.sunrisearrowdown {
  display: flex;
  align-items: center;
  gap: 15px;
  align-content: center;
  justify-content: center;
}

.sunrisearrowdown img {
  rotate: 180deg;
}

.textalign {
  margin-top: 50px;
}

.horizontal-line {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1.5vh 0;
}

.image-with-rounded-corners {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 72%;
  position: relative;
}

.image-with-rounded-corners img {
  width: 100%;
  height: auto;
  border-radius: 4%;
  opacity: 0.8;
  background-color: #000;
}
.image-with-rounded-corners p {
  position: absolute;
  bottom: 40%;
  font-size: 17px;
  font-weight: 100;
  color: #fff;
  left: 0%;
  right: 0%;
  width: 100%;
  text-shadow: 1px 1px 2px #000;
}
.todays_highlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.light-text {
  color: #4a4a4a;
}
.text-weather {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}

.main-text {
  color: #cfd0d3;
  text-align: left;
}
